<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Oppslagstavla</title>
    <link rel="stylesheet" href="../static/styles/styles.css" />
  </head>
  <body>



    <div class="container">
      <header>
        <h1>o p p s l a g s t a v l a</h1>
        <h4>jobbportalen no.1</h4>
      </header>
      <!-- {% block header %}{% endblock %} -->
      {% block body %}{% endblock %}
      <footer>
        <div class="footertext">Laget av Trombasso for UiT</div>
      </footer>
    
    
    </div>
  </body>
</html>
